.modal {
  width: 100vh;
  position: absolute;
  z-index: 22222;
  &-box {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 35%;
    top: 40%;
    width: 250px;

    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  &-title {
    margin: 20px 10px;

    font-size: 18px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-btn {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-left: -10px;
  }
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.658);
  width: 200vw;
  height: 200vh;
  z-index: 0;
  top: -50%;
  left: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.form-btn {
  display: flex;
}
